body {
    /* background-color: #d8dee2 !important; */
}
.logo {
    width: 122px;
}
.header.-type-5.-is-sticky {
    background-color: #ffffff;
}
.header.-type-5.-is-sticky .headerMenu__item,
.header.-type-5 .headerMenu__item {
    color: black;
    font-size: 14px;
}
.headerMenuSubnav__item a {
    font-size: 14px;
}
.header.-type-5.-is-sticky .header__number,
.header.-type-5 .header__number {
    color: #b09c34;
}
.header.-type-5 {
    height: 95px;
    background: white;
}
.our-projects .imageCard.-type-2 .imageCard__title {
    text-transform: uppercase;
}
.our-projects .imageCard__text.text-dark-1 a {
    text-transform: uppercase;
    font-size: 13px;
    color: #b09c34;
    text-decoration: overline;
}
.mines .imageCard.-type-1 .imageCard__title {
    text-decoration: overline;
}
.mines .imageCard.-type-1 .imageCard__title a:hover {
    color: #b09c34;
}
.bg-white {
    background-color: white !important;
}
.pageHeader.-type-1 {
    padding-bottom: 0px;
}
.pageHeader.-type-1 .pageHeader__title {
    text-align: end;
    /* color: #b09c34; */
    font-size: 45px;
    text-decoration: overline;
}
.jobs a.button {
    line-height: 10px;
    float: right;
    clear: both;
}
.gl-2 a {
    border: 1px solid #e7dfdf;
}
.header.-type-5 .header__menuBtn i::after,
.header.-type-5 .header__menuBtn i::before {
    background-color: #b09c34;
}
.header.-type-5 .header__menuBtn {
    color: #b09c34;
}
.bg-accent-2 {
    /* background-color: #d8dee2 !important; */
}
.headerMenu__item + * {
    margin-left: 85px;
}
.new-section .hdd {
    font-size: 43px !important;
}
.new-section {
    /* width: 80%; */
    margin: auto;
}
.new-section li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.new-section h3 {
    font-size: 23px;
    font-weight: 400;
}
.new-section h4 {
    font-size: 15px;
    color: #b09c34;
}
.news-ns {
    background: white;
    padding-top: 0;
}
.text-62 {
    font-size: 43px !important;
}
.rxrx {
    background: #f8f7f7 !important;
    margin-top: 30px;
}
.f19 {
    font-size: 19px;
}
.kl {
    background: antiquewhite;
    padding: 13px;
}
.kk tr {
    border-bottom: 1px solid #ccc;
}
.kk td {
    padding-top: 21px;
    padding-bottom: 21px;
}
.bg-accent-7 {
    background-color: #c0aa8d;
}
.hero.-type-7 .hero__bg::after {
    background-color: rgb(0 0 0 / 13%);
}
.hero.-type-7 .hero__content {
    padding-top: 220px;
}
.hero.-type-7 {
    height: 65vh;
}
.g78 {
    font-size: 18px;
    color: #c0c669;
    text-decoration: underline;
}
.stockmg {
    padding-top: 5px !important;
}
.j90 {
    font-size: 40px !important;
}
.ert .tradingview-widget-container {
    height: 500px !important;
}
.yt button {
    width: 100%;
}
.yt .col-auto {
    width: 30%;
}
.bg-wht {
    background: white !important;
}
.pj ul {
    padding: 45px;
}
.pj li {
    list-style: circle;
    padding-bottom: 15px;
}
.pj button.is-tab-el-active {
    background-color: #10100f !important;
}
#smdf {
    display: none;
}
@media (max-width: 767px) {
    .menu .menuNav__item + * {
        margin-top: 28px;
    }
    .new-section h3 {
        font-size: 17px;
    }
    .new-section .hdd {
        font-size: 27px !important;
    }
    .text-62 {
        font-size: 17px !important;
    }
    .yt .col-auto {
        width: 100%;
    }
    #smdf {
        display: block;
    }
}
