<div data-anim="slide-up delay-{{$i}}" class="col-lg-3 col-md-4 is-in-view">
    <a href="#" class="blogCard -type-1">
        <div class="blogCard__content px-40 py-40 md:px-30 md:py-30">
            <div>
                <div class="blogCard__tag">NEWS</div>
                <h3 class="blogCard__title">
                    THE DIFFERENT TYPES OF<br />
                    LUXURY SPACES
                </h3>
            </div>

            <div class="blogCard__date">
                <div>17</div>
                <div>
                    NOV <br />
                    2023
                </div>
            </div>
        </div>
    </a>
</div>
